terraform {
  backend "azurerm" {
    resource_group_name  = "rg-tfstate-recipeops"
    storage_account_name = "strecipeopstfstate123"
    container_name       = "tfstate"
    key                  = "recipeops.tfstate"
  }
}

